.UserBox{
    width: auto;
    height: 24px;
    background: #E9ECEF;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    font-family: HelveticaNeue;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    line-height: 17px;
    margin-right: 8px;
    margin-bottom: 11px;
    padding-right: 5px;
}

.Avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.DeleteButton {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    border-radius: 50%;
    margin-left: 12px;
    outline: none;
    cursor: pointer;
}
